[submodule "modules/Valet"]
	path = modules/Valet
	url = https://github.com/Square/Valet.git
[submodule "modules/theos"]
	path = modules/theos
	url = https://github.com/rpetrich/theos.git
[submodule "modules/ldid"]
	path = modules/ldid
	url = https://github.com/davidjb/ldid.git
