Package: com.davidjb.pass
Name: Pass
Depends:  gnupg
Version: 0.2.1
Architecture: iphoneos-arm
Description: iOS app to access your password-store
Maintainer: davidjb
Author: davidjb
Section: Utilities
